<launch>
  
  <!-- ATLAS LEFT HAND IP = 10.66.171.22 -->
  <arg name="left_hand_name" default="10.66.171.22" />

  <rosparam ns="/left_robotiq/left_robotiq_ros_controller" >robotiq_activation_time: 16</rosparam>

  <node pkg="robotiq_s_model_control" type="SModelTcpNode.py" name="robotiq_left_hand" output="screen" respawn="true" args="$(arg left_hand_name)">  
  <remap from="SModelRobotInput"  to="/robotiq_hands/l_hand/SModelRobotInput"/>
  <remap from="SModelRobotOutput" to="/robotiq_hands/l_hand/SModelRobotOutput"/>
  </node>

</launch>
